/*
/* Soy un comentario */

body{
    background-color: rgba(4, 54, 19, 0.5);
    /* FONT FAMILY es el tipo de fuente */
    font-family: 'Lato', sans-serif;
}

   
p{
    color: maroon;
}

/* . - Forma de llamar CLASS de formato anterior */
.a-arroyeros{
    color: rgba(145, 71, 18, 0.842);
}

.Titulo{
    font-family: 'Lato', sans-serif;
font-family: 'Rampart One', cursive;
}





.hipervinculos{
    color: rgb(11, 109, 32);
    /* Linea debajo de ancla */
    text-decoration: none;
    display: flex;
    justify-content: space-around;
}

.images{
    display: flex;
    justify-content: space-around;
    
}



.menu{
    /* DIV flexible a la paguina */
   display: flex;
   flex-direction: ¿¿¿¿¿;
   align-items: center;
   justify-content: space-around;
}

